{
  "presets": [
    "env",
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-react-jsx"
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "babel-plugin-transform-react-remove-prop-types",
          {
            "mode": "unsafe-wrap"
          }
        ]
      ]
    }
  }
}